.img {
  border-radius: 150%;
  /* margin-left: 38%;
  margin-top: -10%; */
  position: absolute;
  top: -160px;
  width: 340px;
  height: 340px;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 0;
  margin-bottom: 5%;
  margin-top: 1%;
}

.btn {
  color: rgb(0, 0, 0);
  background-color: rgba(182, 181, 181, 0.843);
  width: 80px;
  height: 40px;
  margin-left: 5%;
  margin-top: 5%;
}
.btn:hover {
  background-color: rgb(182, 181, 181);
}

.principal {
  height: 100vh;
}
