.principal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  align-content: center;
  gap: 20px;
  padding: 10px;
  justify-items: center;
}

.img {
  width: 490px;
  display: block;
  margin: auto;
}
