.principal {
  background-image: url('https://occ-0-300-32.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABRgdd2j4ksoEBLc1P00Bv_OVfDPANmPBosBPn2OV82j9P-P-l3QmpeEaiPsvBAuqOxhyPYaYYwHxWO8yJRymNuD-248iKlYEUra5.jpg?r=197');
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
}
