* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -70px;
}

/*esto es para que no se vea el cuadro del borde*/
input,
button {
  border: none;
  background: none;
  outline: 0;
}

button {
  cursor: pointer;
}

.SearchBox {
  display: flex;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::placeholder {
  color: rgb(216, 215, 215);
  font-size: 0.9em;
  font-style: italic;
}

.input {
  margin: 11px;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium';
}

.SearchBox-icon {
  display: flex;
  justify-content: center;
  margin: center;
  color: white;
}
